@tailwind base;
@tailwind components;
@tailwind utilities;

.recipes:last-child {
  border-bottom-width: 1px;
}

.is-open h2 {
  border-bottom-width: 1px;
  @apply text-blue-500 bg-gray-100
}

.collapsible .content {
  padding: 6px;
  background-color: #eeeeee;
}

.collapsible .header {
  background-color: #dddddd;
  padding: 6px;
  cursor: pointer;
}